<div id="vendor_master" ng-controller="userListCtrl">
  <div class="product-container bootstrap-pagination">
    <div class="col-md-12 col-sm-12  no-padding">

      <div class="product-container-left">
        <div class="product-title no-padding">
          <div class="col-md-6 col-sm-12 col-xs-12 product-title-left pull-left">
            USER LIST <i ng-if="!userListData" style="text-transform: lowercase">Loading...</i>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 product-title-right pull-right padding-right-0">

            <!-- ang-pagination custom directive for pagination -->
            <div ng-if="urlArr" ang-pagination total-page="{{totalPage}}" current-page="{{pageNo}}" links-url="{{urlArr}}"></div>

            <span class="add-operation">
              <button type="button" class="btn btn-link" ng-click="openModal('#vendor-add-profile')">
                <span class="company-information-edit"> ADD <b>USER</b> </span>
                <span class="add-svg-plus" style="margin-right: 9px;">
                </span>
              </button>
            </span>
          </div>

        </div>

        <div class="product-content">
          <div class="vendor-master-tabel">
            <div class="table-responsive">
              <table class="table" ng-if="userListData" >
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Avatar</th>

                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in userListData">
                    <td>
                      <b>{{user.id}}</b>
                    </td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td><img ng-src="{{user.avatar}}" class="img-responsive" width="30"></td>
                    <td>
                      <a data-toggle="modal" href="#vendor-edit-profile"><img src="public/image/Vendor-List-Edit.svg" class="img-responsive"></a>
                    </td>
                    <td>
                      <img src="public/image/Vendor-List-Delete.svg" class="img-responsive">
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="product-title no-padding" style="border-top: none;">

          <div class=" product-title-right pull-right">
            <!-- ang-pagination custom directive for pagination -->
            <div ng-if="urlArr" ang-pagination total-page="{{totalPage}}" current-page="{{pageNo}}" links-url="{{urlArr}}"></div>

          </div>
        </div><!-- project 01 end -->
      </div>
    </div>

  </div>
  <!-- Add a new vendor -->
  <div id="vendor-add-profile" class="modal fade">
    <div class="modal-backdrop">
      <div class="popup-do-to-list-edit">
        <div class="edit-name">
          <div class="edit-name-title">
            ADD USER
          </div>
        </div>
        <div class="vendor-master-popup-body">
          <form name="addUserForm" ng-submit="addUserForm.$valid && addUser()" novalidate>
            <div class="vendor-master-popup-body-content">
              <div class="vendor-master-popup-body-content-title">
                USER INFO
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"  style="padding-left: 0px;">
                <div class="input-padding" ng-class="{'has-warning': addUserForm.first_name.$touched && addUserForm.first_name.$invalid}">
                  <label>First Name</label>
                  <input type="text" name="first_name" class="inputs" placeholder="Enter" ng-model="first_name" ng-required="true" />
                  <small class="text-danger" ng-show="addUserForm.first_name.$touched && addUserForm.first_name.$invalid">First Name required</small>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="padding-left: 0px;">
                <div class="input-padding" ng-class="{'has-warning': addUserForm.last_name.$touched && addUserForm.last_name.$invalid}">
                  <label>Last Name</label>
                  <input type="text" name="last_name" class="inputs" placeholder="Enter" ng-model="last_name" ng-required="true" />
                  <small class="text-danger" ng-show="addUserForm.last_name.$touched && addUserForm.last_name.$invalid">Last Name required</small>
                </div>
              </div>
            </div>
            <div class="edit-name">
              <div class="edit-name-btn">
                <button type="button" class="cancel-btn" data-dismiss="modal">
                  cancel
                </button>
                <button type="submit" class="save-btn">
                  ADD
                </button>
              </div>
              <a class="close" data-dismiss="modal">&times;</a>
            </div>
          </form>

       </div>
     </div>
   </div>
</div>
